:root {
  /* Orange */
  --orange-100: #ff7900;
  --orange-200: #f16e00;
  --orange-300: #b35500;
  --orange-400: #a54b00;

  /* Gray */
  --gray-100: #ffffff;
  --gray-200: #f4f4f4;
  --gray-300: #e5e5e5;
  --gray-400: #dbdbdb;
  --gray-500: #595959;
  --gray-600: #2f2f2f;
  --gray-700: #1a1a1a;

  /* Bluish cyan */
  --bluishCyan-100: #e9f8ff;
  --bluishCyan-200: #e9f7ff;
  --bluishCyan-300: #4bb4e6;
  --bluishCyan-400: #26b2ff;
  --bluishCyan-500: #009cf2;
  --bluishCyan-600: #0da9ff;

  /* Scarlet red */
  --scarletRed-100: #fde5e6;
  --scarletRed-200: #e70002;
  --scarletRed-300: #ce0002;

  /* Bluish green */
  --bluishGreen-100: #ecfdef;
  --bluishGreen-200: #3de35a;

  /* Khaki */
  --khaki-100: #fffae7;
  --khaki-200: #ffcd0b;

  /* Purple */
  --purple-100: #a885d8;
  --purple-200: #6610f2;

  /* Crimson */
  --crimson-100: #ffb4e6;

  /* Red */
  --red-100: #fde6e6;

  /* Teal */
  --teal-100: #50be87;

}

