* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    }
    
@font-face {
    font-family: test;
    src: url(OpenSans-Medium.ttf);}

body { 
    font-family: test;
    font-weight: bold;
    font-size: 22px;
    background-color: white;
}

.navbar {
    background-color: #1a1a1a;
    position: absolute;
    padding: 19px 25px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar li a {
    color: white;
    
}

.navbar .nav-links ul {
    display: flex;

}

.navbar .nav-links ul li {
    margin: 20px;
}

.active {
    color : #f16e00 !important;
    font-weight: 600;
}

li a:hover {
    color: #f16e00 ;
    font-weight: 600;
    
    
    
}
li:after {
    display:block;
    content: '';
    border-bottom: solid 3px #f16e00;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  li:hover:after { transform: scaleX(1); }





.section-acceuil { 
    height: 100vh;
    background-color: white;
    background-size: cover;
}



.clippy {
    height: 1000px;
    
    
}


.grand_logo {
    padding: 220px 200px;

}


.acceuil {
    clip-path: polygon(0 16%, 100% 21%, 100% 80%, 0 75%);
    transition:1.5s;
    height: 1000px;
    width: 100%;
    background-image: url(test.png);
    background-size: 100%;
    color: white;
    
}

.acceuil:hover {
    clip-path: polygon(0 5%, 100% 5%, 100% 92%, 0 92%);
  
}

.texte-acceuil {
    color: white;
    position: relative;
    top: 430px;
    left: 800px;
    font-family: test;
    font-size: 35px;
    text-indent: 50px;
    
}





